{% extends 'base.twig' %}

{% block content %}

<h2>Forgot password</h2>

{{ flash.error }} <br />

<form action="" method="POST">

<label>Email: </label>
<input type="text" name="email"> <br />
<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
<input type="submit" name="submit" value="Get new password">
</form>
{% endblock %}
